/*font*/
@import url(https://fonts.googleapis.com/css?family=Marmelad);
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
h4 span.pull-right{
	margin-right:10px;
}
.profile-picture  img.img-responsive{
	display: inline;
}
.custom-input{
	display: inline;
	width: 40px;
}
.reply-comment{
	border-top: 1px solid #7A991F; 
	padding:0 10px ;
	font-size: 0.8em;
}
.para.big-size img{
 padding: 15px;
}
h4.header-border,h5.header-border{
	padding: 10px;
	cursor: pointer;
	border-top:1px dashed #996600;
}
div.row.push-down ul.para{
	padding: 0px;
	padding-left: 10px;
}
div.row.push-down p,
div.row.push-down ul,
div.row.push-down h2
{
	padding:0px 25px;
}
div.row.push-down > table{
		text-align: center;
		margin:0 auto; 
}
.sorting{
	color: #7A991F;
	cursor: pointer;
	font-size:1.6em; 
}
.sorting:hover{
	color: #7A991F;
}
.sorting span{
	font-size:0.9em; 
	margin:4px 10px;
}
/*FOOTER*/
html{
	min-height: 100vh;
}
.product-marg{
	margin: 10px 0;
}
.success{
	background: rgba(0, 153, 0,0.7);
	color:#fff;
	padding: 10px;
	font-size: 1.4em;
	border: 1px solid;
	border-color:#008000;
	margin: 10px 0;
	border-radius:5px;
}
body{
	min-height: inherit;
	padding-bottom:50px; 
	position: relative;}
footer.footer p{
	padding-top: 10px;
	text-align: center;
	color: #fff;
}
.art-thumb{
	width: 20%;
	display: inline-block;
}
.white_link,.white_link:hover{
		text-decoration-line: none;
		color: #fff;
		display: inline;
}

footer.footer{
	background:#286B2A;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom:0;
}
/*FOOTER*/
.big-size{
	font-size: 1.3em;
}
a{
	display: block;
}
a.link{
	display: inline-block;
	color:#286B2A;
}
a:hover{
	text-decoration: none;
}
.point-cursor{
	cursor: pointer;
}
.max-h{
min-height: 250px;
max-height: 250px;
}
.grid{
	right:15px;
}
table.coll{
	text-align: center!important;
}
table td{

	vertical-align: middle!important;
}
.table-grid{
	width: 20%;
}
.max-grid{
	display: inline-block;
	width: 100%;
}
.grid>a:hover{
color:#33CC33;
}
.grid>a{
	color:inherit;
	padding-left:2px;
	padding-right:2px;
	text-indent: 0;
}
*,
.p-m-reset{
	margin: 0;
	padding:0;
}
.header-border{
	border-bottom: 1px dashed #996600;
	color: #7A991F;
	font-weight: bold;

}
#comment-box{
	padding-left:20px;
	padding-right: 20px;
	margin-top: 5px;
}
h1,h2,h3,h4{
	font-size: 1.8em;
	text-indent: 1em;
	padding-bottom: 5px;
}

.header{
	z-index: 10;
 box-shadow: 0px 0px 25px #888888;
}
body,html{
	position: relative;
	z-index: -10;
	min-width: 300px;
	font-size: 12px;
}
.pos-rel{
	position: relative;
}
.pos-abs{
	position: absolute;
}
.custom-colored{
	background-color: #286B2A;
}
.custom-font-color{
	color: #6AA5F7;
}
.font-style{
	font-family: 'Marmelad',sans-serif;
}
.font-bold{
	font-weight: bold;
}
.navbar{
	min-height: 5px;
	margin:0;
	border-radius: 0;
	background: transparent;
	border:none;
}
.nav-size{
	font-size: 1.3em;
}
.pull-down{
	margin-top: 1em;
}
.para{
	margin-right:0;
	word-wrap: normal;
	padding-left: 15px;
	
	text-indent:1em; 
}

.para li{
	display: block;
	margin:5px 0 5px 5px;
	

	list-style: none;
}
.push-down{
	margin-bottom: 1em;
}
.boost-down{
	padding-top:1em; 
}
.margin-top-res{
	margin-top: 5px;
	padding-top: 1px;
	padding-bottom: 5px;
}
.p-m-reset{
	p
}
.logo{
	max-width: 150px;
}
.cust-width{
	margin-bottom: 20px;
	display: inline-block;
	text-align: center;
	width: 20%;
}
/*------------------------Comment CSS-------------------------*/
.comment-info{
	margin-right: 10px;
	display: block;
	border-radius:5px;
	background:#f2f2f2;  
	font-size:1.5em;
	border: 0.2px solid #7A991F; 
}
.comment-des{
	display: block;
	font-size:0.8em;
	padding-bottom: 5px;
}
.comment-date{
	padding-left:1em; 
	font-size: 0.6em;
}
/*------------------------Comment CSS-------------------------*/
/*------------------------Cart-Box CSS-------------------------*/
.price-all{
	margin-bottom: 1.5em;
	display: block;
	width: 100%;
}
.price-bd{
	font-size: 1.5em;
}
.cart-symbol{
	font-size: 1.3em;
}
.cart-box{
	text-align: left!important;
	left: 0;
	top:5em;
	color:green;
	border-radius: 5px;
	border: 3px solid #FF9900;
	z-index: 1000;
	background: #FFFFE6;
}
/*------------------------Cart-Box CSS-------------------------*/
/*------------------------MAP CSS-------------------------*/
 #map {
 	margin:0 auto; 
        width: 80%;
        height: 400px;
      }

/*------------------------MAP CSS-------------------------*/
/*------------------------Product CSS-------------------------*/
.pr-border{
	border-radius: 5px;
	border:1px solid ;
}

.btn-custom{
	cursor: pointer;
	margin: 3px;
	padding:2px;
	background: #7A991F; 
	border:1px solid ;
	color:#FFC ;
	font-weight: bold;
	border-radius: 2px;

}
.btn-custom:hover,
.btn-custom:focus{
	background: #FFC;
	color: #7A991F;
}
.btn-large{
	padding: 0.5em; 
	font-size:1.3em;
	border-radius: 5px; 
}
.col-xs-4{
	width: 33%!important;
margin-left: 0.33%!important;
}
.des-price{
	font-weight: 800;
	color:#0066cc;
}
/*------------------------Product CSS-------------------------*/
/*------------------------USER MENU-------------------------*/
.user-menu li{
	margin-top: 1px;
	margin-bottom: 1px;
	display: inline-block;
	float:right;

}

.user-menu li a{
	
	display: block;
	
	margin-left: 3px;
}
.navbar-nav li a{
	text-align: center;
	font-size: 1.3em;
	color:#fff!important;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus{
	background-color: green!important;
	color: #65F798!important;
}
/*------------------------USER MENU-------------------------*/
/*------------------------Button------------------------*/
.btn-customize{
	color:#fff;
	padding: 4px;
	background-color: #28486B;
	border:1px solid #ddd;
	border-radius: 5px;
}
.btn-customize:hover,
.btn-customize:focus{
	color:#fff;
	text-decoration: none;
 	background-color:#5A9EE8;
}
	.media-plus{
		top: 50%;
		right:20px;
	}

/*------------------------Button------------------------*/
/*------------------------Transition------------------------*/
.pagination li a
,.btn-custom,
.category a,
.btn-customize,
.navbar-nav li a,
.dropdown
{
	-moz-transition:0.5s ease-in;
	-wekit-transition:0.5s ease-in;
	transition:0.5s ease-in;
}
/*------------------------Transition------------------------*/
/*------------------------MEDIA------------------------*/
@media (max-width: 992px) {
	.reset-right{
	padding: 0;
	}
}

@media(max-width: 762px) {



	.img-max{
		min-width: 150px;
		max-width: 150px;

}
	.text-center-xs{
		text-align: center;
	}
	.cart-symbol{
		position: absolute;
		top: 40%;
		right: 49px;
		font-size: 1.4em;
	}
	.media-cart{
		width: 100%!important;
	}
	.media-plus{
		top:40%;
		padding-top:2px;
		padding-right:2px;
		font-size: 1.6em;
	}

}
@media(max-width: 500px) {
	.cs-input{
		width: 100%!important;
	}
	.custom-width>div[class^="col-xs-4"]{
		width: 100%!important;
	}
}


/*------------------------MEDIA------------------------*/

/*------------------------DROPDOWN------------------------*/
	
@media(min-width: 761px) {

	.adjust{
	top:10px;
	right: 10px;
}
	.dropdown-menu-2:hover > .dropdown{
	display: block;

}
}


.dropdown li a{
	padding:10px;
}
.dropdown{
	box-shadow: 0px 0px 25px #888888;
	background-color: #286B2A;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 4;
	left:0;
	display:none;

}

/*------------------------DROPDOWN------------------------*/

/*------------------------Wrapper------------------------*/
	.wrapper{
		display: block;
		background: #CCFFCC;
		
		min-height: 700px;
		z-index: -1;
		margin-top:-50px;
		padding-top: 50px;
	}
	.main{
		box-shadow: 0px 0px 10px #888888;
		margin-top:50px;
		background: #F8F8F8;
		border-radius: 5px;
	}
	.aside,
	.section{
		padding-bottom: 10px;
		margin-top:10px;
		margin-bottom: 10px;
		border-radius: 3px; 
		border:3px solid #7A991F;
	}
	.reset-right{
		padding-right: 0px;
	}
@media (max-width: 761px) {
	.navbar-form{
		margin:10px 0; 
	}
	.reset-right{
		padding-right: 0px;
		padding-left: 0px;
	}
}
.category a{
	text-decoration: none;
	color:#666633;
	font-weight: bold;


}
.category a:hover{
	color: #FFFFCC;
	background: #7A991F;
}
.category a{
	font-size: 1.2em;

	padding: 2px 20px
}
/*------------------------Wrapper------------------------*/
/*------------------------Contact list------------------------*/
.contact-list{
	list-style: none;
}
.contact-list>li{
	background: #fff;
	padding: 5px;
	font-size: 1.2em;
	border: 1px solid #888;
	margin-bottom: -1px;
}
.contact-list>li:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.contact-list>li:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.contact-list>li:hover{
	background: #E6FFE6;
}

/*------------------------Contact list------------------------*/
body{
	background: #CFC;
}
.user-in{
	color:#fff;


}


.user-in:hover{
	color:#fff;
	text-decoration: underline;
}
.user-menu li:nth-child(2):after{
content: "|";
color: #fff;
padding-left:5px;
padding-right: 5px; 
}
/*------------------------Slider------------------------*/
.big-text{
	font-size: 1.3em;
}
.first-letter:first-child{
text-transform:capitalize;
}
.alert{
	color: red;
}
.reset-a{
	display: initial!important;
}
.full-width-sl{
	border: 6px solid #7A991F;
	border-right: none;
	border-left: none;
	
}
.sl-pr{
	height: inherit;
	color: #fff;
}
.text-1{
	z-index: 51;
}
p.sl-des{
	display: 	block;
	width: 	100%;
	height: 140px;
	overflow:hidden;
    text-overflow:ellipsis;
	font-size: 2em;
}
.slider-cont{
	position: relative;
	
	background: #fff;
	overflow: hidden;
}
.first-sl{
	background: none;
	
}
.img-hd{

	overflow: hidden;
}
.slides{
	height: inherit;
	width: inherit;


}


.slides>div{
height: inherit;
position: absolute;
top:0;
left:0;
width: 100%;

}
.slides>div>img{
	height: inherit;
width: 100%
}


.nx-pr{
	cursor: pointer;
	border: 1px solid;
	border-radius: 100px;
	padding: 10px;
	position: absolute;
	top:45%;
	color: #fff;
}
.nx-pr.left{
	left:3px;
}
.nx-pr.right{
	right:3px;
}

.wait{
	opacity: 0;
}
/*------------------------Slider------------------------*/

/*-----------------------LOGIN FORM-----------------------*/
	.login-form{
		border: 5px solid #7A991F;
		border-radius: 2px;
		width: 60%;
		
		background: #FFFFE3;
		z-index: 150;
		right:1em;
		top:2em;
	}
	.inner-form{

		padding: 1% 5%;
		
	}
	.form-row>label{
		display: block;
		
	}
	.form-row{
		padding-top: 5px;
		padding-bottom:5px; 
		color: #7A991F;
		font-size: 1.3em;
	}
	select.cs-input:focus{
		border-bottom-left-radius:0; 
		border-bottom-right-radius:0; 
	}
	.alerted{
		font-size: 1.5em;
		color:#FF3300;
	}
	.cs-input>option{
		padding: 0.1em 1em;

	}
	textarea.cs-input{
		max-width: 100%
	}
	.cs-input{
		
		
		padding-left: 10px;
		border:2px solid green;
		border-radius: 6px;
		
		width: 60%;

	}
	.reset-width{
		display: inline;
	}
/*-----------------------LOGIN FORM-----------------------*/



/*-----------------------PAGINATION-----------------------*/
.pagination li{
	display: inline-block;
}
.pagination li a{
color: #006600;
display: inline-block;
font-weight:bolder;
}

.pagination li a:hover{
color:#fff;
background: #00b300;
border-color: #006622;
}

/*-----------------------PAGINATION-----------------------*/

/*-----------------------BIG-PICTURE-----------------------*/
.back-op{	
background: #000;
display: block;
opacity: 0.3;
min-height: 100%;
width: 100%;

left: 0px;
}
	.big-pic{

		min-height: 100vh;
		z-index: 1000;
		width: 100%;
		top:0;
		left:0;
	}
	.picure-pos{
		z-index: 100;
    left: 20%;
    top: 5%;
}
/*-----------------------BIG-PICTURE-----------------------*/


.pagination{
	margin: 0 auto;
}

/*Slider*/



.slide-holder {
  width: 100%;
  position: relative;
}
.slide-holder img {
  width: 100%;
}
.slide-holder .slide {
  position: absolute;
  top: 0;
  width: 100%;
}
.slide-holder .l-contr,
.slide-holder .r-contr {
  z-index: 10;
  position: absolute;
}
.slide-holder .l-contr {
  left: 0;
  
}
.slide-holder .r-contr {
  right: 0;
 
}
.pic{
  height: 200px;
    width: 3%;
}
.slide-holder{
  overflow: hidden;
  height: 200px;
}
.custom-search{
	background: #7A991F;
	color: #286B2A;
	
}

.response-li-msg,.response-li-msg-error{
	display: none;
	text-align: center;
	text-shadow: 0px 0px 15px  #fff; 
	background: #009900!important;
	color:#fff;
	list-style: none;
	font-weight: 900;
}
.response-li-msg-error{
	
	background: red!important;
	
}
.rating-form{
	font-size: 1.4em;
}
.rating-box li .rating{
		color:#cccc00;		
		text-decoration: none;
		font-size: 1.2em;
}
.rating-box li{
	margin-left: -3px;
	display: inline-block;
	list-style-type: none;
	
}
li.redStar a{
	color: red!important;
}
#responsiveForm{
	display: none;
}
.removeBtn{
	color:red;
	font-size: 1.5em;
	cursor: pointer;
}
