*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	}
	body{
		position: relative;
		font-size:12px;
	}
.dropzone{
	background:rgba(217, 217, 217,0.8) !important;
	width:100%!important;
	padding: 30px!important;
	color:#808080!important;
	text-align: center!important;
	border: 3px dotted !important;
	border-radius: 5px!important;

}
.custom-modal .btn{
	font-size: 2em;
}
.slide_preview{
	display: inline-block;
}

.edit-modal{
	position: absolute;
	top:10%;
	left: 25%;
	right:25%;
	width: 50%;
	background: rgba(0, 179, 0,0.5);
	min-height:50vh; 
}
.edit-modal img{
	width: 50%;
	display: block;
	margin:0 auto;

}
.edit-modal a{
	text-align: center;
	font-size: 1.5em;
}
.edit-modal input,
.edit-modal a{
	width: 70%;
	display: block;
	margin: 10px auto ; 

}
div.row{
width: 100%;
}
.slide_preview img{
	height: 150px;
}
.slide_preview .btn{
	display: block;
	text-align: center;
	font-size: 1.2em;
}
.text-center{
text-align: center;
}
.gallery_image{
	text-align: center;
}
.pagination{

	margin: 20px 0;
}
.pagination>li{
	display: inline-block;
}
.pagination>li a{
	color:#fff;
	text-decoration: none;
}
.pagination>li {
	padding: 5px;
	background: green;
	
	color:#fff;
	border: 1px solid ; 
	font-size: 1.5em;
}
.pagination li:first-child {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px; 
}
.pagination li:last-child {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px; 
}
.clearfix:after{
     display: block;
     content: " ";
     clear: both;
}
p.small-text{
	font-size:1rem;
}
.readMsg{
	cursor: pointer;
}
table.table_admin tr.read{
	background:#98cc98;
	color:#000;

}
table.table_admin tr.unread{
	background: #4d4d4d;
	color:#fff;

}
.pull-right{
	float: right;
}

table.table_admin tr.unread:hover,
table.table_admin tr.read:hover {
	background: #33cc33;
	color:#000;
}   
table.table_admin td,
table.table_admin th{
	
	border:1px solid #000; 
}    
table.table_admin{
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
	font-size: 1.5em;
	border: 1px solid;
	text-align: center;
}
.unstyled-link a{
		color:#fff;
		text-decoration:none;
		display: block;
}
.unstyled-list{
	list-style: none;	
}
div.error{
	margin: 10px 0;
	border: 3px solid rgb(204, 0, 0);
	background: rgba(255, 26, 26,0.3);
	border-corner-shape:bevel;
	border-radius: 10px; 
}
p.warning{
	padding:1em;
	color: red;
	font-size: 1.3em;  
}
.btn{
	display: inline-block;
	color: #fff;
	background: #0080ff;
	padding: 0 15px;
	font-size: 0.6em;
	border: 1px solid #004080;
	border-radius: 10px;
	text-decoration: none;
	
}
.btn:hover{
	
	background: #009900;
	border: 1px solid #006600;
}
/*Navigation*/

	.navbar{
		border-bottom:1px solid #000;
		box-shadow: 0px 0px 2px 1px; 
		font-size:1.8em;
		background:#333 ;
		position: fixed;
		width:100%;
		z-index: 3;

		
	}
	
	.navbar-left{
		float:left;
	}
	.navbar-right{
		float:right;
	}


	.navbar ul li {
		margin-left: -4px;
		
		display: inline-block;
	}
	
	.navbar ul li a,
	.navbar ul li a:visited{
			color: #bfbfbf;
		padding: 5px 15px;
	}
	.navbar ul li a:hover{
		background: #000;
		color: #fff;
	}

	
	/*Transitions*/
		.back-anim a
		{
			-webkit-transition: 0.5s background, color ease;
			-moz-transition: 0.5s background, color ease;
			transition: 0.5s background, color ease;

		}
	/*Transitions*/




/*Navigation*/


/*Side bar*/
	.side-menu{
			top:35px;
			position: fixed;
			font-size:1.5em;
			height: 100vh;
			width:15%;
			background:#333 ;
	}
	.side-menu	a{
		padding: 5px 20px;
			color: #bfbfbf;
	}
	.side-menu a:hover{
		background: #000;
		color:#fff;
	}
/*Side bar*/
/*admin wrapper*/
	.adm-wrapper{
		background: #e6e6e6;
		

		margin-left:15%;
		padding:50px 10px 0px 15px;
		position: relative;
	}	

	h1{
		font-size:2.5em;
		box-shadow:0px 5px 4px -4px; 
		padding-bottom:2px; 
		border-bottom:1px solid;  
	}
	form{
		padding: 10px;
		font-size: 1.5em;
	}
	input,textarea,select{
		margin-left: 10px;
		width: 30%;
		padding: 5px;
		border:1px solid #899;
		border-radius:5px;
		box-shadow:0px 0px 4px 0px #999; 
	}
	.form-control{
		margin: 10px 0; 
	}
	label+input[type=checkbox]{
			width: auto;
			box-shadow: none;
	}
	input[type=submit]{
		margin-top:15px;
	}
	.form-control label{
		width:100%;
		padding-bottom: 10px;
		display: block; 

	}
	html{
		background: #e6e6e6;
	}
	.alert{
		font-weight: 500;
		font-size: 1.5em;
		
		border-radius:5px;
		padding: 10px; 
		
		margin-top: 10px;
		box-shadow: 0px 0px 15px 0px rgb(255, 26, 26);
		list-style: none;
	}
	.alert.danger{
		background: rgba(255, 26, 26,0.1);
		border: 1px solid rgb(255, 26, 26);
		color: rgb(255, 26, 26);
	}
	.success{
		border:4px solid rgb(0, 153, 0);
		color: #fff;
		background:rgba(51, 204, 51, 0.5);
		box-shadow: -5px 5px 20px lightgreen;

	}
	select{
		width: 30% ;
		appearance: none;
		-moz-appearance:none;
		-webkit-appearance:none;
		background: url('arrow.png') no-repeat  97% 50%; 
		background-size: 20px 20px; 
		font-size:0.9em;
		font-weight: 300;
		padding: 5px 10px;


	}

/*admin product reference*/
 .prod_content{
 	width: 90%;
 	margin: 5px auto;
 	border: 1px solid gray;
 
 	padding: 5px;
 } 
 .prod_content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
 }

 .prod_content img,.prod_content .price{
 	flex-grow: 1;
 	flex-basis: 10%;
 }
 .prod_content .btn_cont{
 	flex-basis: 10%;
 }
 .prod_content .description{
 	display: flex;
 	flex-grow: 2;
 	padding:0px  3%; 
 	flex-basis: 70%;
 	justify-content:space-around; 
 	flex-wrap: inherit;
 }
 div.name{
 	font-weight: bold;
 	font-size: 1.5em;
 }
 .prod_content .description .desc{
 	flex-basis: 100%;
 	width:100%; 
 	padding-top:10px; 
 }

 .prod_content .btn_cont form{
	padding:0;
 }
 .prod_content .btn_cont input{
 	width:100%; 
 }
 .prod_content .btn_cont a,
 .prod_content .btn_cont a:hover,
 .prod_content .btn_cont input,
 .prod_content .btn_cont input:hover{
 	color:#000;
	text-decoration: none;
	padding:5px 15px;
 	margin:3px 0px; 
 	text-align:center; 
 	display: block;
 	border-radius: 5px;
 	box-shadow: 0 0 10px -1px inset;
 	border: 1px solid;

 }
 .prod_content .btn_cont .edit{
 	
 	background: rgba(59, 179, 0,1);
 	color: #fff;
 	
 	border-color:  rgb(0, 77, 0);
 }
 .prod_content .btn_cont .edit:hover{
	background: rgb(51, 153, 255);
	color: rgb(255, 255, 255);
	border-color: rgb(0, 51, 102);
 }
.btn_cont .del{
 	
 	background: rgb(255, 26, 26);
 	color: #fff;
 	border-color: rgb(153, 0, 0);
 }
 .btn_cont .del:hover{
	background: rgb(230, 92, 0);
	color: rgb(255, 255, 255);
	border-color:rgb(153, 61, 0);
 }
 /*Transitions*/
 .gallery_image{
 	display: inline-block;
 	width:33% ;
 }
 .gallery_image img{
 	width: 100%;
 	
 }
.anim
{
 -webkit-transition: background 0.5s;
 -o-transition: background 0.5s;
 transition: background 0.5s;
 }
 .thumbnail{
 	width:15%;
 	margin-top: 15px;
 	padding: 7px;
 	padding-bottom:5px; 
 	background: white;
 	border: 1px solid gray; 
 	border-radius:5px;
 	box-shadow: 0 0 5px 0px inset; 
 }
 .thumbnail img{
 	width: 100%;
 	border: 1px solid grey;
 	box-shadow: 0 0 5px 0px;
 	border-radius:5px; 
 }

/*Admin drop*/
.drop-down > ul{
	height: 0;
	overflow: hidden;
	
}
.drop-down > ul li{
	padding-left: 10px;
}
.drop-down:hover > ul{
	
	background: #000;
	height: 70px;
}
.drop-down > ul{
	
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	transition: 0.5s ease;
}
html{
	position: relative;
	overflow-x:hidden; 
}

div.success_response,div.error_response{
	position: fixed;
	border-bottom-left-radius:5px; 
	border:4px solid rgb(0, 153, 0); 
	border-top:none;
	color: #fff;
	font-size: 2em;
	text-align: center;
	padding:20px 0; 
	font-weight: 500;
	text-shadow: 0px 0px 15px ;
	border-right:none;  
	width: 25%;
	min-height:20vh;
	right:-28%;
	top:37px;
	z-index: 150;
	background:rgba(51, 204, 51, 0.5);
	box-shadow: -5px 5px 20px lightgreen;
}
div.success_response img,div.error_response img{
	width: 30%;
	margin-top: 12px;
}
div.error_response{
	border:4px solid #990000; 
	background:rgba(255, 26, 26, 0.5);
	box-shadow: -5px 5px 20px red;
}
div.row div.container{
	font-size: 1.5em; 
	width: 	70%;
	margin:0 auto; 	
}
div.row div.container h3{
		margin: 10px 0;
}
h3 a.btn{
	margin:5px 0; 
}
.btn-large{
	font-size: 1.4em;
}
div.row div.container p{
	text-indent: 1.2em;
	width: 	70%;

}